.home {
    display: flex;
    color: black;
}
.home a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(15, 15, 15);
    padding: 0 10px;
    font-size: 20px;
    background-color: rgb(229, 231, 238);
    border-radius: 20px;
}
